/* navbar/menu */

.navbar-brand {
  font-family: 'Lobster', cursive;
  padding-right: 2vw;
  margin-left: 2vw;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e2e2e2;
  min-height: 100%;
  z-index: 0;
}

.main {
  overflow: auto;
  padding-bottom: 60px;
}

.wrap {
  min-height: 100vh;
}

nav {
    /* background-color: #ffab91; */
    background-color: #424242;
}

nav .nav-item a.nav-link:hover {
  transition: all .2s ease-in;
  color: #6d6d6d;
}

nav .nav-item .active {
  transition: border 1s ease-in;
  border-bottom: 2px solid white;
}

nav a.btn {
  border-color: white !important;
  background-color: #424242 !important;
  color: white !important;
  margin-right: 5vw;
}


nav a.btn:hover {
  background-color: white !important;
  color: #424242 !important;
}

ul.nav li.nav-item a {
  color: white;
}

ul.navWithTabs li.nav-item a {
  color: #007bff;
}

ul.nav {
  padding: 12px;
}

ul.navWithTabs {
  padding: 0px;
}


/*************************************************************************/
/* footer */




footer .footer-container {
  z-index: 1;
  margin-top: -60px;
  height: 60px;
  clear: both;
  position: relative;
  display: flex;
  width: 100%;
  position: relative;
  background-color: #424242;
  justify-content: space-around;
}

footer p {

  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: small;
  padding: 15px;
}








/****************************************************************************/
/* search page */


body {
  /* background-color: #6d6d6d; */
}

.container .search-form {
  margin-top: 35vh;
}

.search-form p {
  text-align: center;
}

.perfectmatching{
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

/**************************************************************************/
/* connection Form */

.connection-form {
  margin-top: 15vh;
}

.button-container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn-dark {
  color: white !important;
  background-color: #424242 !important;
  border: 1px solid #424242;
}

.btn-red {
  color: white !important;
  background-color: #c13434 !important;
  border: 1px solid #c13434;
}

.btn-red:hover {
  color: #c13434 !important;
  background-color: white !important;
}

.btn-dark:hover {
  color: #424242 !important;
  background-color: white !important;
}

.center {
  text-align: center;
}



/*************************************************************************/
/* register form */

#birthdate {
  margin-top: 25px;;
}

.account-created {
  margin-top: 20vh;
}

.form-created {
  margin-top: 5vh;
}

.account-created h1 {
  text-align: center;
}

/*************************************************************************/
/* SearchResults linked classes */
.sr-col-3{
  padding-left: 5px !important;
  padding-right: 5px !important;
}


/*************************************************************************/


/* validation account */


.validation-account {
    margin-top: 20vh;
}

.center {
  text-align: center;
}

.danger {
  color: red;
}
/*************************************************************************/
/* CV_view */

.card {
  margin-bottom: 5px;
}

.CV-view {
  margin-top: 10vh;
}

.card-body p {
  margin-top: 10px;
}

.timeline-school-icon {
  color: #ff7043;
  background-color: white;
  border-radius: 100%;
  padding: 7px;
  border: 1px solid #ff7043;
}

.timeline-work-icon {
  color: #0A8A8A;
  background-color: white;
  border-radius: 100%;
  padding: 7px;
  border: 1px solid #0A8A8A;
}

.timeline-project-icon {
  color: #8171a0;
  background-color: white;
  border-radius: 100%;
  padding: 7px;
  border: 1px solid #8171a0;

}

.timeline-other-icon {
  color: #6d4c41;
  background-color: white;
  border-radius: 100%;
  padding: 7px;
  border: 1px solid #6d4c41;
  padding-bottom: 9px;
  padding-top: 9px;
  font-size: 21pt;

}

/* #8171a0 */

.timeline {
  position: absolute;
  top: 13px;
  left: 18px;
}

.timeline-element-other::before {
  content: '';
  height: 100%;
  width: 0px;
  border-left: 4px solid black;
  position: absolute;
  top: 0px;
  left: 40px;
  border-color: #6d4c41;
}

.timeline-element-school::before {
  content: '';
  height: 100%;
  width: 0px;
  border-left: 4px solid black;
  position: absolute;
  top: 0px;
  left: 40px;
  border-color: #ff7043;
}

.timeline-element-work::before {
  content: '';
  height: 100%;
  width: 0px;
  border-left: 4px solid black;
  position: absolute;
  top: 0px;
  left: 40px;
  border-color: #0A8A8A;
}

.timeline-element-project::before {
  content: '';
  height: 100%;
  width: 0px;
  border-left: 4px solid black;
  position: absolute;
  top: 0px;
  left: 40px;
  border-color: #8171a0;
}

.year-other {
  background-color: #6d4c41;
  color: white;
  position: absolute;
  top: 70px;
  left: 21px;
  padding: 3px;
  border-radius: 3px;
}

.year-school {
  background-color: #ff7043;
  color: white;
  position: absolute;
  top: 70px;
  left: 21px;
  padding: 3px;
  border-radius: 3px;
}

.year-work {
  background-color: #0A8A8A;
  color: white;
  position: absolute;
  top: 70px;
  left: 21px;
  padding: 3px;
  border-radius: 3px;
}

.year-project {
  background-color: #8171a0;
  color: white;
  position: absolute;
  top: 70px;
  left: 21px;
  padding: 3px;
  border-radius: 3px;
}

.timeline-element {
  min-height: 80px;
}

.activity-title h1 {
  font-size: 20pt;
}

.separator {
  width: 100%;
  border: 1px solid #e6e8ed;
  border-top: none;
}

.user-bg {
  width: 100%;
  height: 20vh;
  background: #606c88; /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

.user-picture {
  background-color: #344449;
  color: white;
  border-radius: 50%;
  /* position: absolute; */
  padding: 35px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateY(-35%);
  /* left: 15%;
  top: 20vh; */
}

.user-info h1 {
  margin-top: 2%;
}

.user-info {
  background-color: white;
}
/* my-CV */

#cv-website {
  font-size: 10pt;

}

#cv-website a {
  color: rgb(62, 94, 167) !important;
}

.activity-website {
  font-size: 10pt;
}

.activity-website a {
  color: rgb(62, 94, 167) !important;
}

.icon-hover:hover {
  color: red;
  cursor: pointer;
}

.edit-profile {
  transform: translateY(50% );
}

.button-edit-container {
  font-size: 15pt;
  /* margin-left: 5px; */
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #37aed6;
  margin-bottom: 5px;
}


.CV-view .button-edit-wrapper:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.CV-view .button-edit-wrapper:nth-child(2n+1) .button-edit-container {
  margin-left: 0px !important;
  margin-right: 5px;
}

#input-description-cv {
  min-height: 15vh;
}

#input-description-activity {
  min-height: 15vh;
}

.hide {
  display: none;
}

#card-add-activity:hover {
  background-color: #424242;
  color: white;
  cursor: pointer;
}


.card-activity {
  width: 100%;
}


/***************************************************************************/


/* Useful general classes */

.bg-light-grey {
  background-color: rgba(191,191,191,0.8) !important;
}

.mgTop2{
  margin-top: 2vh;
}

.mgTop5{
  margin-top: 5vh;
}

.hidden{
  display: none;
}

.nav-text-item{
  color: black !important;

}

/**************************************************************************/
/*  index  */

.bandeau {
  height: 40vh;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right top, #40434f, #45464f, #494a50, #4d4d50, #515151)
}


.cv-image {
  background-color: rgba(94, 96, 105, 0.6);
  border-radius: 5px;
  position: absolute;
  top: 33%;
  left: 80px;
  width: 495px;
  height: 500px;
  /* position: relative; */

}

#cv-picture {
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  width: 14%;
  height: 15%;
  border-radius: 5px;
  top: 10%;
  left: 10%;
  text-align: center;
}

.cv-line-container {
  padding: 10%;
  margin-top: 20%;
}

.cv-line {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
  height: 15px;

}

#cv-title-1 {
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  width: 60%;
  top: 12%;
  left: 29%;
  height: 25px;
  border-radius: 5px;
}

#cv-title-2 {
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  width: 50%;
  top: 20%;
  left: 33%;
  height: 20px;
  border-radius: 5px;

}

.user-shape {
  color: rgba(255,255,255,0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.text-bandeau {

  font-family: 'Satisfy', cursive;
  margin-left: 50%;
  color: white;
  margin-top: 5%;

}

.margin-1 {
  margin-left: 2%;
}

.margin-2 {
  margin-left: 4%;
}

.bandeau-list {
  font-size: 21pt;
}

.card-index {
  background-color: white;
  border: none;
  margin-bottom: 0px !important;
}

.right-particle {

}

.index-title {
  margin-bottom: 5%;
  margin-top: 7%;
  font-family: 'Satisfy', cursive;
  font-size: 20pt;

}

.card-body h6 {
  font-size: 16pt;
}

canvas {
    height: 100% !important;
    z-index: -1;
    /* overflow: hidden; */
}

.dev-list {
  font-family: 'Satisfy', cursive;

}


.card-body .container p {
  margin-top: 5%;
}


/*********************************************************************************/
